step-functions/leave-approval-sm.asl.json
{
  "Comment": "Step function",
  "QueryLanguage": "JSONata",
  "StartAt": "LeaveApproval",
  "States": {
    "LeaveApproval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Arguments": {
        "FunctionName": "${LeaveApprovalLambdaArn}",
        "Payload": {
          "TaskToken": "{% $states.context.Task.Token %}",
          "Payload": "{% $states.input %}",
          "Context": "{% $states.context %}"
        }
      },
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["ApprovalRejected"],
          "Next": "FailureLeaveApprovalHandler"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "GenericLambdaErrorHandler"
        }
      ],
      "Next": "SuccessLeaveApprovalHandler"
    },
    "SuccessLeaveApprovalHandler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${SuccessLeaveApprovalLambdaArn}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    },
    "FailureLeaveApprovalHandler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${FailureLeaveApprovalLambdaArn}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    },
    "GenericLambdaErrorHandler": {
      "Type": "Pass",
      "Output": "{% { \"message\": \"Lambda Flow Failed\" } %}",
      "End": true
    }
  }
}
